// Начните писать стили здесь

// FEATURES

.features {
  padding-top: 35px;
}

.features__intro {
  .text();
  color: @text;
  text-align: center;
  padding-bottom: 32px;
  width: 100%;
  max-width: 282px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding-bottom: 56px;
    max-width: 520px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 45px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.features__title {
  .title();
  text-align: center;
}

.features__counter {
  .text();
  color: @text;
  font-weight: 700;
  text-align: center;
  padding-top: 11px;
}

.features__description {
  .text();
  color: @text;
  text-align: center;
  padding-top: 17px;
}

.features__photo {
  width: 100%;
  max-width: 800px;
}

.features__icon-wrapper {
  position: absolute;
  top: 25px;
  left: 18px;

  @media (min-width: @tablet-width) {
    position: static;
  }
}

.features__card {
  min-width: 320px;
  position: relative;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;

  @media (min-width: @tablet-width) {
    min-width: 256px;
  }

  &--true-town {
    padding: 54px 22px 40px 16px;
    background-color: @blue;
    color: #ffffff;
  }

  &--house {
    padding: 30px 18px 0 65px;
    margin: 0 auto;
  }

  &--food {
    padding: 30px 18px 0 70px;
    margin: 0 auto;
  }

  &--souvenir {
    padding: 30px 18px 52px 62px;
    margin: 0 auto;
  }

  &--bridge {
    padding: 40px 18px 34px 18px;
    background-color: @blue;
    color: #ffffff;
  }

  &--small-area {
    background-color: hsl(0, 0%, 93%);
    padding: 26px 18px 24px 18px;
  }

  &--road,
  &--few-tourists {
    background-color: hsl(0, 0%, 93%);
    padding: 24px 18px 24px 18px;
    box-shadow: 0 1px 0 hsl(0, 0%, 84%) inset;
  }
}

.features__card--true-town p,
.features__card--bridge p {
  color: inherit;
}

.features__card--house .features__title,
.features__card--house .features__description,
.features__card--food .features__title,
.features__card--food .features__description,
.features__card--souvenir .features__title,
.features__card--souvenir .features__description {
  text-align: left;

  @media (min-width: @tablet-width) {
    text-align: center;
  }
}

@media (min-width: @tablet-width) {
  .features__card--photo {
    grid-column: 2 / span 2;
  }

  .features__card--house,
  .features__card--food,
  .features__card--souvenir {
    min-height: 330px;
    padding: 60px 35px 0 35px;
  }

  .features__card--house .features__title,
  .features__card--food .features__title,
  .features__card--souvenir .features__title {
    padding-top: 26px;
  }

  .features__card--small-area,
  .features__card--road,
  .features__card--few-tourists {
    min-height: 256px;
    padding: 42px 34px 0 34px;
  }

  .features__card--house img {
    width: 75px;
    height: 72px;
    margin: 0 auto;
  }

  .features__card--food img {
    width: 76px;
    height: 68px;
    margin: 0 auto;
  }

  .features__card--souvenir img {
    width: 64px;
    height: 75px;
    margin: 0 auto;
  }

  .features__card--reverse-position {
    grid-column-start: 1;
    grid-row-start: 3;
  }
}
