// Начните писать стили здесь

/* footer */

.footer {
  padding-top: 38px;
  width: 320px;
}

.footer__hashtag-button {
  color: #000000;
  background-color: #ffffff;
  width: 166px;
  margin: 0 auto;
}

.social__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
  padding: 34px 0 0 0;
  margin: 0;
}

.footer__copyright {
  padding: 47px 0 22px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.copyright__title {
  font-family: "PT sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
}
