// Начните писать стили здесь

// GALLERY

// растягиваем блок до ширины окна, но не более @desktop-width, и центрируем
.gallery {
  width: 100%;
  max-width: @desktop-width;
  margin: 0 auto;
  padding-top: 38px;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    padding: 67px 60px 0 60px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 0 0 0;
  }
}

//стилизуем и центрируем заголовок, ограничиваем по ширине
.gallery__title {
  .title();
  text-align: center;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    max-width: 458px;
  }
}

//стилизуем и центрируем заголовок, ограничиваем по ширине
.gallery__text {
  .text();
  line-height: 21px;
  color: @text;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 38px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding-top: 32px;
    padding-bottom: 80px;
    max-width: 458px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 88px;
  }
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.gallery__item {
  padding: 24px 0 24px;
  box-shadow: 0 1px 0 hsl(0, 0%, 84%) inset;
  position: relative;

  @media (min-width: @tablet-width) {
    box-shadow: none;
    padding: 0;
  }
}

.gallery__item--beautiful-project {
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }
}

.gallery__item--last {
  box-shadow: 0 1px 0 hsl(0, 0%, 84%) inset,
    0 -1px 0 hsl(0, 0%, 84%) inset;

  @media (min-width: @tablet-width) {
    box-shadow: none;
  }
}

.gallery__item-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

// Обрезаем лишнее от увеличения миниатюр
.content__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

// Фон для подсветки миниатюры
.content__wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  opacity: 0;
  transition: 0.5s ease all;
}

// Увеличиваем миниатюру при наведении
.content__wrapper:hover .content__file {
  transform: scale(1.1);
}

// Подсвечиваем миниатюру при наведении
.content__wrapper:hover::after {
  opacity: 0.1;
}

// Добавляем анимацию при увеличении миниатюры
.content__file {
  width: 100%;
  transition: 0.5s ease all;

  @media (min-width: @tablet-width) {
    min-height: 267px;
  }
}

.content__legend-wrapper {
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 22px 20px 15px 20px;
    background-color: hsl(0, 0%, 95%);
  }

  @media (min-width: @desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.content__like-icon {
  opacity: 0.3;
  fill: #000000;

  @media (min-width: @desktop-width) {
    fill: #ffffff;
    opacity: 1;
  }
}

.content__title {
  .text();
  font-weight: 700;

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.content__author-prefix,
.content__author {
  .text();
  text-transform: none;
  color: @text;
  padding-top: 15px;

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}


.content__like-wrapper {
  padding-top: 6px;
  cursor: pointer;
  width: max-content;
}

.content__like-wrapper:hover {
  transform: scale(1.1);
}

// Красим лайк по нажатию
.content__like-icon--activated {
  fill: @blue;
}

.content__like-counter {
  .text();
  font-weight: 700;
  padding-left: 5px;

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

@media (min-width: @tablet-width) {
  .gallery__item--wide {
    grid-column: 1 / span 2;
  }

  .gallery__list li:nth-child(2n+3) .content__legend-wrapper {
    background-color: hsl(0, 0%, 92%);
  }

  .content__file--wide {
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .gallery__item--wide {
    grid-column: 1 / span 3;
  }

  .gallery__list li:nth-child(2n+1) .content__legend-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
