// Начните писать стили здесь

// HEADER

.header {
  position: relative;
}

// позиционируем контейнер логотипа
.header__logo {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 185px;
  height: 96px;
  margin-bottom: -40px;
  transition-duration: 0, 01s;
  transition-timing-function: unset;

  //состояния логотипа
  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  &:active {
    opacity: 70%;
  }

  &--disabled {
    pointer-events: none;
  }
}

@media (min-width: @tablet-width) {
  .header__logo-image {
    position: absolute;
    z-index: 1;
  }
}

// контейнер кнопки бутерброда
.header__toggle-button-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 1;
  cursor: pointer;

  //состояния бутерброда в закрытом состоянии
  &:hover .header__toggle-button--closed,
  &:focus .header__toggle-button--closed,
  &:hover .header__toggle-button--closed::before,
  &:focus .header__toggle-button--closed::before,
  &:hover .header__toggle-button--closed::after,
  &:focus .header__toggle-button--closed::after {
    background-color: @blue--hover;
  }

  &:active .header__toggle-button--closed,
  &:active .header__toggle-button--closed::before,
  &:active .header__toggle-button--closed::after {
    background-color: @blue;
  }

  //показываем кнопку только для мобильных
  @media (min-width: @tablet-width) {
    display: none;
  }
}


.header__toggle-button::before,
.header__toggle-button::after {
  position: absolute;
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  content: "";
}

// состояние кнопки крест
.header__toggle-button::before {
  transform: translate(10px, 20px) rotate(45deg);
}

.header__toggle-button::after {
  transform: translate(10px, 20px) rotate(-45deg);
}

// состояние кнопки бутерброд
.header__toggle-button--closed,
.header__toggle-button--closed::before,
.header__toggle-button--closed::after {
  background-color: @blue--active;
  transform: translate(0, 20px) rotate(0deg);
}

.header__toggle-button--closed {
  position: absolute;
  display: block;
  width: 30px;
  height: 4px;
  background-color: @blue--active;
  content: "";
  transform: translate(10px, 10px);
}

.header__toggle-button--closed::before {
  transform: translate(0, 10px);
}

// меню навигации
.header__list {
  background-color: @blue;
  position: absolute;
  top: 0;
  min-width: @mobile-width;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1200px;

  @media (min-width: @tablet-width) {
    position: static;
    background-color: transparent;
    color: #000000;
    padding-left: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    padding-left: 65px;
    padding-right: 45px;
  }
}

// элемент навигации
.header__item {
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 20%),
    0 1px 0 0 rgba(1, 1, 1, 20%);

  &--last {
    box-shadow: inset 0 -7px 5px 0 rgba(1, 1, 1, 20%);
  }

  //выделяем текущую страницу
  &--current .header__link {
    color: #766357;
  }

  // стилизуем выключенный элемент меню
  &--disabled {
    pointer-events: none;
  }

  &--disabled .header__link {
    color: rgba(1, 1, 1, 20%);
  }

  // стилизуем меню для планшетов и ПК
  @media (min-width: @tablet-width) {
    box-shadow: none;
    padding: 18px 25px;
  }
}

.header__link {
  color: #ffffff;
  .title();

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 14px;
  }
}

// Добавляем логотип в меню навигации для планшетов и ПК
.header__item--tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

// Убираем у него отступы
.header-item--no-padding {
  padding: 0;
}

//в мобильном разрешении добавляем возможность закрывать/прятать меню за пределы экрана и сохраняем функционал меню на случай отказа JS
@media (max-width: @mobile-width-only) {
  .header__list--closed {
    top: -@header__menu-height;
  }

  .header__toggle-button--nojs {
    display: none;
  }

  .header__list--nojs {
    top: 0;
  }

  //стилизуем состояния меню для мобильных
  .header__item:hover,
  .header__item:focus {
    background-color: @blue--hover;
    transform: scale(1.1);
  }

  .header__item:active,
  .header__item:active .header__link {
    background-color: @blue--active;
    color: rgba(255, 255, 255, 0.3);
  }
}

// стилизуем меню для планшетов и ПК
@media (min-width: @tablet-width) {

  //убираем логотип для мобильных
  .header-logo--mobile {
    display: none;
  }

  .header__item:hover,
  .header__item:focus {
    transform: scale(1.1);
    cursor: pointer;
  }

  .header__item:hover .header__link,
  .header__item:focus .header__link {
    color: @blue;
  }

  .header__item:active .header__link {
    opacity: 30%;
  }
}
