// Начните писать стили здесь

/* HEADER */

.header {
  width: 320px;
  position: relative;
}

.header__logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -40px;
}

.header__nav {
  position: absolute;
  top: 0;
}
