// Начните писать стили здесь

/* hero */

.hero {
  width: 320px;
  padding-bottom: 35px;
}

.hero__image {
  width: 320px;
  height: 389px;
  background-image: url("../../img/hero__image.jpg");
  background-color: hsl(198, 29%, 27%);
  padding-top: 90px;
  padding-bottom: 85px;
}

.hero__logo {
  margin: 0 auto;
}

.hero__slogan {
  font-family: "PT sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding-top: 32px;
}
