// Начните писать стили здесь

// HERO

.hero__image {
  height: 390px;
  background-image: url("../../img/hero__image.jpg");
  background-color: hsl(198, 29%, 27%);
  padding-top: 90px;

  @media (min-width: @tablet-width) {
    height: 518px;
  }

  &--short {
    padding-top: 52px;
    height: 158px;
    background-position: 0 calc(100% + 0px);

    @media (min-width: @tablet-width) {
      padding-top: 100px;
      height: 290px;
    }

    @media (min-width: @desktop-width) {
      height: 300px;
    }
  }
}

.hero__logo {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 460px;
    height: 350px;
  }
}

.hero__slogan {
  .title();
  text-align: center;
  padding-top: 32px;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 520px;
  }
}

@media (min-width: @tablet-width) {
  .hero__logo--short {
    height: 78px;
  }
}
