// Начните писать стили здесь

// MAP__SECTION

// центрируем блок + отступы по макету
.map__section {
  padding-top: 50px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 65px;
  }
}

//карта занимает всю ширину окна, но не более 1200; высота 350
.map__image {
  max-height: 350px;
  width: 100%;
  max-width: 1200px;
}
