// Начните писать стили здесь

/* presentation */

.presentation {
  width: 320px;
  padding: 45px 20px 0 20px;
}

.presentation__title {
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.presentation__text {
  font-family: "PT sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding-top: 26px;
}

.presentation__video-box {
  padding-top: 38px;
  object-fit: cover;
  height: auto;
}
