// Начните писать стили здесь

// PRESENTATION

.presentation {
  padding: 20px 20px 0 20px;
  width: 100%;
  max-width: @desktop-width;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 60px 0 40px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 0 85px 0;
  }
}

.presentation__title {
  .title();
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.presentation__text {
  .text();
  color: @text;
  text-align: center;
  padding: 26px 0 38px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;

  @media (min-width: @tablet-width) {
    padding: 26px 0 65px 0;
  }
}

.presentation__video-box {
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 800px;

  @media (min-width: @tablet-width) {
    max-height: 500px;
  }
}
