// Начните писать стили здесь

// SEARCH-HOTELS

.search-hotels {
  padding: 0 20px;
}

.search-hotels__title {
  .title();
  text-align: center;
  padding-top: 38px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    padding-top: 60px;
  }
}

.search-hotels__text {
  .text();
  color: @text;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.search-hotels__button {
  padding: 16px 49px;
  max-width: 458px;
  margin: 0 auto;
}
