// Начните писать стили здесь

// SEARCH-HOTELS

.search-hotels {
  padding: 0 18px;
}

.search-hotels__title {
  font-family: @font;
  .title();
  text-align: center;
  margin: 0;
  padding-bottom: 38px;
}

.search-hotels__text {
  font-family: @font;
  .text();
  color: @text;
  margin: 0;
  text-align: center;
  padding-bottom: 32px;
}

.search-hotels__button {
  padding: 16px 49px;
}
