// Начните писать стили здесь

// UTILS

// внутренние отступы и границы теперь часть бокса
*,
*::before,
*::after {
  box-sizing: border-box;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
}

// скрываем невидимые элементы
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// sticky-footer +  базовый шрифт
.page {
  height: 100%;
  font-family: @font;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: @desktop-width;
}

.main__wrapper {
  flex-grow: 1;
}

// картинки запираются контейнером + растяжение картинки до границ контейнера
img {
  max-width: 100%;
  object-fit: cover;
  //contain cover
  display: block;
  // height: auto;
}

// Обнуляем буллеты и отступы списков
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// Обнуляем подчёркивание ссылок
a {
  text-decoration: none;
}

// Обнуляем дефолтные отступы
p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  margin: 0;
}

//убираем для мобильных переносы строк планшетов/ПК
.br-tablet,
.br-desktop {
  display: none;
}

//включаем перенос строк для планшетов
@media (min-width: @tablet-width) {
  .br-mobile {
    display: none;
  }

  .br-tablet {
    display: inline;
  }
}

//включаем перенос строк для ПК
@media (min-width: @desktop-width) {
  .br-tablet {
    display: none;
  }

  .br-desktop {
    display: inline;
  }
}
