@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
  font-family: "PT sans", sans-serif;
}
.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.main__wrapper {
  flex-grow: 1;
}
img {
  max-width: 100%;
  object-fit: cover;
  display: block;
  height: auto;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  margin: 0;
}
.br-tablet,
.br-desktop {
  display: none;
}
@media (min-width: 768px) {
  .br-mobile {
    display: none;
  }
  .br-tablet {
    display: inline;
  }
}
@media (min-width: 1200px) {
  .br-tablet {
    display: none;
  }
  .br-desktop {
    display: inline;
  }
}
/* BUTTON */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "PT sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: #81B3D2;
  padding-top: 16px;
  padding-bottom: 16px;
  transition-duration: 0, 01s;
  transition-timing-function: unset;
}
.button:hover,
.button:focus {
  background-color: #669EC0;
  transform: scale(1.05);
}
.button:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.button--disabled {
  background-color: #E5E5E5;
  pointer-events: none;
}
.header {
  position: relative;
}
.header__logo {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 185px;
  height: 96px;
  margin-bottom: -40px;
  transition-duration: 0, 01s;
  transition-timing-function: unset;
}
.header__logo:hover,
.header__logo:focus {
  transform: scale(1.05);
}
.header__logo:active {
  opacity: 70%;
}
.header__logo--disabled {
  pointer-events: none;
}
.header__toggle-button-wrapper {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 5px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
}
.header__toggle-button-wrapper:hover .header__toggle-button--closed,
.header__toggle-button-wrapper:focus .header__toggle-button--closed,
.header__toggle-button-wrapper:hover .header__toggle-button--closed::before,
.header__toggle-button-wrapper:focus .header__toggle-button--closed::before,
.header__toggle-button-wrapper:hover .header__toggle-button--closed::after,
.header__toggle-button-wrapper:focus .header__toggle-button--closed::after {
  background-color: #669EC0;
}
.header__toggle-button-wrapper:active .header__toggle-button--closed,
.header__toggle-button-wrapper:active .header__toggle-button--closed::before,
.header__toggle-button-wrapper:active .header__toggle-button--closed::after {
  background-color: #81B3D2;
}
@media (min-width: 768px) {
  .header__toggle-button-wrapper {
    display: none;
  }
}
.header__toggle-button::before,
.header__toggle-button::after {
  position: absolute;
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  content: "";
}
.header__toggle-button::before {
  transform: translate(10px, 20px) rotate(45deg);
}
.header__toggle-button::after {
  transform: translate(10px, 20px) rotate(-45deg);
}
.header__toggle-button--closed,
.header__toggle-button--closed::before,
.header__toggle-button--closed::after {
  background-color: #5496BD;
  transform: translate(0, 20px) rotate(0deg);
}
.header__toggle-button--closed {
  position: absolute;
  display: block;
  width: 30px;
  height: 4px;
  background-color: #5496BD;
  content: "";
  transform: translate(10px, 10px);
}
.header__toggle-button--closed::before {
  transform: translate(0, 10px);
}
.header__list {
  background-color: #81B3D2;
  position: absolute;
  top: 0;
  min-width: 320px;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1200px;
}
@media (min-width: 768px) {
  .header__list {
    position: static;
    background-color: transparent;
    color: #000000;
    padding-left: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .header__list {
    padding-left: 65px;
    padding-right: 45px;
  }
}
.header__item {
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.2), 0 1px 0 0 rgba(1, 1, 1, 0.2);
}
.header__item--last {
  box-shadow: inset 0 -7px 5px 0 rgba(1, 1, 1, 0.2);
}
.header__item--current .header__link {
  color: #766357;
}
.header__item--disabled {
  pointer-events: none;
}
.header__item--disabled .header__link {
  color: rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .header__item {
    box-shadow: none;
    padding: 18px;
  }
}
.header__link {
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .header__link {
    color: #000000;
    font-size: 14px;
  }
}
.header__item--tablet {
  display: none;
}
@media (min-width: 768px) {
  .header__item--tablet {
    display: block;
  }
}
.header-item--no-padding {
  padding: 0;
}
@media (max-width: 767px) {
  .header__list--closed {
    top: -224px;
  }
  .header__toggle-button--nojs {
    display: none;
  }
  .header__list--nojs {
    top: 0;
  }
  .header__item:hover,
  .header__item:focus {
    background-color: #669EC0;
    transform: scale(1.1);
  }
  .header__item:active,
  .header__item:active .header__link {
    background-color: #5496BD;
    color: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 768px) {
  .header-logo--mobile {
    display: none;
  }
  .header__item:hover,
  .header__item:focus {
    transform: scale(1.1);
    cursor: pointer;
  }
  .header__item:hover .header__link,
  .header__item:focus .header__link {
    color: #81B3D2;
  }
  .header__item:active .header__link {
    opacity: 30%;
  }
}
.hero__image {
  height: 388px;
  background-image: url("../img/hero__image-mask.svg"), url("../img/hero__image-tablet@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: calc(50%) calc(100% + 1px), bottom;
  background-color: hsl(198, 29%, 27%);
  padding-top: 90px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero__image {
    background-image: url("../img/hero__image-mask.svg"), url("../img/hero__image-mobile@2x.jpg");
  }
}
@media (min-width: 321px) {
  .hero__image {
    height: 517px;
    padding-top: 78px;
    background-image: url("../img/hero__image-mask.svg"), url("../img/hero__image-tablet@1x.jpg");
  }
}
@media (min-width: 321px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 321px) and (min-resolution: 2dppx) {
  .hero__image {
    background-image: url("../img/hero__image-mask.svg"), url("../img/hero__image-tablet@2x.jpg");
  }
}
@media (min-width: 769px) {
  .hero__image {
    background-image: url("../img/hero__image-mask.svg"), url("../img/hero__image-desktop@1x.jpg");
  }
}
@media (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 769px) and (min-resolution: 2dppx) {
  .hero__image {
    background-image: url("../img/hero__image-mask.svg"), url("../img/hero__image-desktop@2x.jpg");
  }
}
.hero__image--short {
  padding-top: 52px;
  height: 158px;
}
@media (min-width: 321px) {
  .hero__image--short {
    padding-top: 100px;
    height: 290px;
  }
}
@media (min-width: 769px) {
  .hero__image--short {
    height: 300px;
  }
}
.hero__logo {
  margin: 0 auto;
  object-fit: contain;
}
@media (min-width: 321px) {
  .hero__logo {
    width: 95%;
    height: 95%;
    max-width: 460px;
    max-height: 350px;
  }
}
@media (min-width: 768px) {
  .hero__logo {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 321px) {
  .hero__logo--short {
    max-height: 78px;
  }
}
.hero__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 32px;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .hero__slogan {
    max-width: 520px;
  }
}
@media (min-width: 768px) {
  .hero__logo--short {
    height: 78px;
  }
}
.features {
  padding-top: 35px;
}
.features__intro {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  padding-bottom: 32px;
  width: 100%;
  max-width: 282px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .features__intro {
    padding-bottom: 56px;
    max-width: 520px;
  }
}
@media (min-width: 1200px) {
  .features__intro {
    padding-bottom: 45px;
  }
}
.features__list {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
}
@media (min-width: 768px) {
  .features__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.features__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.features__counter {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  text-align: center;
  padding-top: 11px;
}
.features__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  padding-top: 17px;
}
.features__photo {
  width: 100%;
  height: 100%;
}
.features__icon-wrapper {
  position: absolute;
  top: 25px;
  left: 18px;
}
@media (min-width: 768px) {
  .features__icon-wrapper {
    position: static;
  }
}
.features__card {
  min-width: 320px;
  position: relative;
}
@media (min-width: 768px) {
  .features__card {
    min-width: 256px;
  }
}
.features__card--true-town {
  padding: 54px 22px 40px 16px;
  background-color: #81B3D2;
  color: #ffffff;
}
.features__card--house {
  padding: 30px 18px 0 65px;
  margin: 0 auto;
}
.features__card--food {
  padding: 30px 18px 0 70px;
  margin: 0 auto;
}
.features__card--souvenir {
  padding: 30px 18px 52px 62px;
  margin: 0 auto;
}
.features__card--bridge {
  padding: 40px 18px 34px 18px;
  background-color: #81B3D2;
  color: #ffffff;
}
.features__card--small-area {
  background-color: hsl(0, 0%, 93%);
  padding: 26px 18px 24px 18px;
}
.features__card--road,
.features__card--few-tourists {
  background-color: hsl(0, 0%, 93%);
  padding: 24px 18px 24px 18px;
  box-shadow: 0 1px 0 hsl(0, 0%, 84%) inset;
}
.features__card--true-town p,
.features__card--bridge p {
  color: inherit;
}
.features__card--house .features__title,
.features__card--house .features__description,
.features__card--food .features__title,
.features__card--food .features__description,
.features__card--souvenir .features__title,
.features__card--souvenir .features__description {
  text-align: left;
}
@media (min-width: 768px) {
  .features__card--house .features__title,
  .features__card--house .features__description,
  .features__card--food .features__title,
  .features__card--food .features__description,
  .features__card--souvenir .features__title,
  .features__card--souvenir .features__description {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .features__card--photo {
    grid-column: 2 / span 2;
  }
  .features__card--house,
  .features__card--food,
  .features__card--souvenir {
    min-height: 330px;
    padding: 60px 35px 0 35px;
  }
  .features__card--house .features__title,
  .features__card--food .features__title,
  .features__card--souvenir .features__title {
    padding-top: 26px;
  }
  .features__card--small-area,
  .features__card--road,
  .features__card--few-tourists {
    min-height: 256px;
    padding: 42px 34px 0 34px;
  }
  .features__card--house img {
    width: 75px;
    height: 72px;
    margin: 0 auto;
  }
  .features__card--food img {
    width: 76px;
    height: 68px;
    margin: 0 auto;
  }
  .features__card--souvenir img {
    width: 64px;
    height: 75px;
    margin: 0 auto;
  }
  .features__card--reverse-position {
    grid-column-start: 1;
    grid-row-start: 3;
  }
}
.search-hotels {
  padding: 0 20px;
}
.search-hotels__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 38px;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .search-hotels__title {
    font-size: 30px;
    padding-top: 60px;
    max-width: 435px;
  }
}
.search-hotels__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 32px;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .search-hotels__text {
    max-width: 435px;
  }
}
.search-hotels__button {
  padding: 16px 49px;
  max-width: 458px;
  margin: 0 auto;
}
.map__section {
  padding-top: 50px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .map__section {
    padding-top: 60px;
  }
}
@media (min-width: 1200px) {
  .map__section {
    padding-top: 65px;
  }
}
.map__gmaps {
  max-height: 350px;
  width: 100%;
  max-width: 1200px;
}
.footer {
  padding-top: 38px;
  padding-bottom: 22px;
}
@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 15px;
    padding-bottom: 36px;
  }
}
.footer__hashtag-button {
  color: #000000;
  background-color: #ffffff;
  width: 166px;
  margin: 0 auto;
}
.footer__hashtag-button:hover,
.footer__hashtag-button:focus {
  background-color: #ffffff;
  transform: scale(1.1);
}
.footer__hashtag-button:active {
  background-color: #ffffff;
  color: rgba(255, 255, 255, 0.3);
}
.footer__hashtag-button--disabled {
  background-color: #ffffff;
  pointer-events: none;
}
.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}
.footer__social-icon {
  fill: #81B3D2;
  transition-duration: 0, 01s;
  transition-timing-function: unset;
}
.footer__social-link .footer__social-icon:hover,
.footer__social-link .footer__social-icon:focus {
  fill: #669EC0;
  transform: scale(1.1);
}
.footer__social-link .footer__social-icon:active {
  fill: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}
.footer__social-link .footer__social-icon--disabled {
  fill: #E5E5E5;
  pointer-events: none;
}
.footer__copyright-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer__copyright-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer__copyright-link:hover .footer__copyright-title,
.footer__copyright-link:focus .footer__copyright-title,
.footer__copyright-link:hover .footer__copyright-icon,
.footer__copyright-link:focus .footer__copyright-icon {
  fill: #81B3D2;
  color: #81B3D2;
  transform: scale(1.1);
}
.footer__copyright-link:active .footer__copyright-title,
.footer__copyright-link:active .footer__copyright-icon {
  fill: hsl(0, 0%, 70%);
  color: hsl(0, 0%, 70%);
}
.footer__copyright-link--disabled .footer__copyright-title,
.footer__copyright-link--disabled .footer__copyright-icon {
  fill: #E5E5E5;
  pointer-events: none;
}
.footer__copyright-title,
.footer__copyright-icon {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  fill: #000000;
  transition-duration: 0, 01s;
  transition-timing-function: unset;
}
.gallery {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 33px 20px 0 20px;
}
@media (min-width: 768px) {
  .gallery {
    padding: 60px 60px 0 60px;
  }
}
@media (min-width: 1200px) {
  .gallery {
    padding: 60px 0 0 0;
  }
}
.gallery__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 30px;
    max-width: 458px;
  }
}
.gallery__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 26px;
  color: #333333;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .gallery__text {
    padding-bottom: 70px;
    max-width: 458px;
  }
}
.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .gallery__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .gallery__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.gallery__item {
  padding-top: 24px;
  box-shadow: 0 1px 0 hsl(0, 0%, 84%) inset;
  position: relative;
}
@media (min-width: 768px) {
  .gallery__item {
    box-shadow: none;
    padding: 0;
  }
}
.gallery__item--last {
  box-shadow: 0 1px 0 hsl(0, 0%, 84%) inset, 0 -1px 0 hsl(0, 0%, 84%) inset;
}
@media (min-width: 768px) {
  .gallery__item--last {
    box-shadow: none;
  }
}
.content__file {
  width: 100%;
}
@media (min-width: 768px) {
  .content__file {
    min-height: 267px;
  }
}
.content__legend-wrapper {
  padding: 15px 0 30px 0;
}
@media (min-width: 768px) {
  .content__legend-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 15px 20px;
    background-color: hsl(0, 0%, 95%);
  }
}
@media (min-width: 1200px) {
  .content__legend-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.content__like-icon {
  opacity: 0.3;
  fill: #000000;
}
@media (min-width: 1200px) {
  .content__like-icon {
    fill: #ffffff;
    opacity: 1;
  }
}
.content__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .content__title {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .content__title {
    color: #ffffff;
  }
}
.content__author-prefix,
.content__author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-transform: none;
  color: #333333;
  padding-top: 15px;
}
@media (min-width: 1200px) {
  .content__author-prefix,
  .content__author {
    color: #ffffff;
  }
}
.content__like-wrapper {
  padding-top: 10px;
}
.content__like-counter {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-transform: none;
  padding-left: 14px;
  color: #000000;
}
@media (min-width: 1200px) {
  .content__like-counter {
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .gallery__item--wide {
    grid-column: 1 / span 2;
  }
  .gallery__list li:nth-child(2n+3) .content__legend-wrapper {
    background-color: hsl(0, 0%, 92%);
  }
  .content__file--wide {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .gallery__item--wide {
    grid-column: 1 / span 3;
  }
  .gallery__list li:nth-child(2n+1) .content__legend-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.presentation {
  padding: 20px 20px 0 20px;
  width: 100%;
  max-width: 1200px;
}
@media (min-width: 768px) {
  .presentation {
    padding: 60px 0 40px 0;
  }
}
@media (min-width: 1200px) {
  .presentation {
    padding: 60px 0 85px 0;
  }
}
.presentation__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .presentation__title {
    font-size: 30px;
  }
}
.presentation__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  padding: 26px 0 38px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}
@media (min-width: 768px) {
  .presentation__text {
    padding: 26px 0 65px 0;
  }
}
.presentation-wrapper {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.presentation__button {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0;
}
.presentation__button:hover,
.presentation__button:focus {
  background-color: transparent;
}
.presentation__button:active {
  background-color: transparent;
}
.presentation__button::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
          clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.presentation__button:hover::before,
.presentation__button:focus::before {
  transform: scale(1.3);
  background-color: rgba(255, 255, 255, 0.8);
}
.presentation__button:active::before {
  background-color: rgba(255, 255, 255, 0.3);
}
.presentation__video-box {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-width: 800px;
}
@media (min-width: 768px) {
  .presentation__video-box {
    max-height: 500px;
  }
}
.form__intro {
  padding: 36px 20px 0 20px;
}
@media (min-width: 768px) {
  .form__intro {
    padding: 64px 60px 0 60px;
  }
}
@media (min-width: 1200px) {
  .form__intro {
    padding: 115px 120px 0 120px;
  }
}
.form__intro-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__intro-title {
    font-size: 30px;
  }
}
.form__intro-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  padding-top: 24px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form__intro-text {
    max-width: 435px;
    margin: 0 auto;
    padding-top: 20px;
  }
}
.form {
  display: grid;
  grid-template-columns: 1fr;
  padding: 53px 20px 0 20px;
}
@media (min-width: 768px) {
  .form {
    grid-template-columns: 1fr 1fr;
    padding: 102px 60px 0 60px;
  }
}
@media (min-width: 1200px) {
  .form {
    padding: 67px 120px 0 120px;
  }
}
.form__fieldset {
  border: none;
  padding: 0 0 38px 0;
  position: relative;
}
.form__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 24px 0 20px 0;
  box-shadow: 0 -1px 0 0 rgba(1, 1, 1, 0.2);
  width: 100%;
}
@media (min-width: 768px) {
  .form__legend {
    box-shadow: none;
    font-size: 21px;
    background-color: #ffffff;
    display: block;
    width: 100%;
    max-width: 400px;
  }
}
.form__label-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
  color: #333333;
  padding: 16px 0 0 16px;
}
.form__label {
  max-width: 300px;
  position: relative;
}
.form__label-text--impression,
.form__label-text--sights {
  text-transform: none;
  font-weight: 700;
  padding-left: 62px;
  padding-bottom: 16px;
  font-size: 18px;
}
.form__input[type="text"],
.form__input[type="tel"],
.form__input[type="email"] {
  display: block;
  padding: 16px;
  border: none;
  background-color: hsl(0, 0%, 95%);
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 280px;
  width: 100%;
  max-width: 430px;
}
.form__textarea {
  font-family: inherit;
  resize: none;
  border: none;
  background-color: hsl(0, 0%, 95%);
  width: 100%;
  padding: 16px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}
.form__input[type="text"]:hover,
.form__input[type="tel"]:hover,
.form__input[type="email"]:hover,
.form__textarea:hover,
.form__input[type="text"]:focus,
.form__input[type="tel"]:focus,
.form__input[type="email"]:focus,
.form__textarea:focus {
  background-color: hsl(0, 0%, 90%);
}
.form__input[type="text"]:not(:placeholder-shown),
.form__input[type="tel"]:not(:placeholder-shown),
.form__input[type="email"]:not(:placeholder-shown),
.form__textarea:not(:placeholder-shown) {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 4px hsl(0, 0%, 90%);
}
.form__input[type="text"]:hover:not(:placeholder-shown),
.form__input[type="tel"]:hover:not(:placeholder-shown),
.form__input[type="email"]:hover:not(:placeholder-shown),
.form__textarea:hover:not(:placeholder-shown) {
  background-color: hsl(0, 0%, 90%);
  box-shadow: inset 0 0 0 4px hsl(0, 0%, 90%);
}
.form__input[type="email"] {
  background: no-repeat right url("/img/form__icon--mail.svg"), hsl(0, 0%, 95%);
}
.form__input[type="tel"] {
  background: no-repeat right url("/img/form__icon--telephone.svg"), hsl(0, 0%, 95%);
}
.form__input::placeholder,
.form__textarea::placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-transform: none;
  color: rgba(0, 0, 0, 0.3);
  text-align: left;
}
.form__input[type="radio"] {
  position: relative;
}
.form__input-radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 95%);
}
.form__input[type="radio"]:checked + .form__input-radio::before {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  content: "";
}
.form__input-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: hsl(0, 0%, 95%);
}
/* добавляем галочки отмеченным чекбоксам */
.form__input[type="checkbox"]:checked + .form__input-checkbox::before {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='16' viewBox='0 0 22 16' fill='none'%3E%3Cpath d='m21.8 1.3-1-1a.8.8 0 0 0-1.2 0L8.3 12 2.4 5.8a.8.8 0 0 0-1.1 0L.3 7c-.4.3-.4 1 0 1.2l7.3 7.7c.2.2.4.2.6.2l.6-.2L21.6 2.5c.5-.3.5-.8.2-1.2Z' fill='%23333'/%3E%3C/svg%3E");
  content: "";
}
.form__label:hover .form__input-radio,
.form__label:hover .form__input-checkbox {
  background-color: hsl(0, 0%, 90%);
  transition: 0.5s;
}
.form__input:focus + .form__input-radio,
.form__input:focus + .form__input-checkbox {
  background-color: hsl(0, 0%, 90%);
  transition: 0.5s;
}
.form__label:active .form__input-radio,
.form__label:active .form__input-checkbox {
  background-color: hsl(0, 0%, 84%);
}
.form__label:active .form__input[type="radio"]:checked + .form__input-radio::before {
  background-color: rgba(51, 51, 51, 0.3);
}
.form__label:active .form__input[type="checkbox"]:checked + .form__input-checkbox::before {
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='16' viewBox='0 0 22 16' fill='none'%3E%3Cpath d='m21.8 1.3-1-1a.8.8 0 0 0-1.2 0L8.3 12 2.4 5.8a.8.8 0 0 0-1.1 0L.3 7c-.4.3-.4 1 0 1.2l7.3 7.7c.2.2.4.2.6.2l.6-.2L21.6 2.5c.5-.3.5-.8.2-1.2Z' fill='%23828282'/%3E%3C/svg%3E");
}
.form__label--disabled {
  pointer-events: none;
  opacity: 30%;
  color: rgba(255, 255, 255, 0.3);
}
.form__fieldset--impression .form__label,
.form__fieldset--sights .form__label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.form__button {
  width: 100%;
  max-width: 280px;
}
@media (min-width: 768px) {
  .form__button {
    max-width: 324px;
  }
}
@media (min-width: 1200px) {
  .form__button {
    max-width: 384px;
  }
}
.form__required-span {
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .form__label-text {
    display: block;
    min-width: 280px;
    width: 100%;
    max-width: 430px;
    padding-left: 16px;
    margin: 0 auto;
  }
  .form__input[type="text"],
  .form__input[type="tel"],
  .form__input[type="email"] {
    position: relative;
    margin: 0 auto;
  }
  .form__fieldset--impression .form__list,
  .form__fieldset--sights .form__list {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .form__label-text--impression,
  .form__label-text--sights {
    margin: 0;
    padding-left: 62px;
    padding-bottom: 16px;
  }
}
@media (min-width: 768px) {
  .form__fieldset--name {
    padding-right: 63px;
  }
  .form__fieldset--contacts {
    padding-left: 63px;
  }
  .form__fieldset--impression,
  .form__fieldset--sights,
  .form__fieldset--feedback,
  .form__button-wrapper {
    grid-column: 1 / span 2;
  }
  .form__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 64px 0;
  }
  .form__fieldset--name,
  .form__fieldset--impression,
  .form__fieldset--sights,
  .form__fieldset--feedback {
    position: relative;
  }
  .form__fieldset--name::after {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    height: 338px;
    border-right: 1px solid hsl(0, 0%, 86%);
  }
  .form__fieldset--impression::before,
  .form__fieldset--sights::before,
  .form__fieldset--feedback::before {
    content: "";
    position: absolute;
    top: -33px;
    width: 100%;
    border-top: 1px solid hsl(0, 0%, 86%);
    z-index: -1;
  }
  .form__fieldset--sights::before {
    content: "";
    top: -45px;
  }
  .form__fieldset--impression .form__list,
  .form__fieldset--sights .form__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .form__fieldset--impression {
    padding-bottom: 24px;
  }
  .form__fieldset--sights {
    padding-bottom: 18px;
  }
}
@media (min-width: 1200px) {
  .form__fieldset--name::after {
    right: -15px;
  }
  .form__fieldset--impression .form__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .form__fieldset--sights .form__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .form__fieldset--impression {
    padding-bottom: 49px;
  }
  .form__fieldset--sights {
    padding-bottom: 63px;
  }
}
/* MODAL */
.modal {
  min-width: 320px;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  max-width: 640px;
}
.modal__wrapper {
  padding: 38px 38px 0 38px;
}
@media (min-width: 768px) {
  .modal__wrapper {
    width: 640px;
  }
}
.modal__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.modal__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 26px 0 28px 0;
}
.modal__wrapper-button {
  padding: 20px;
  background-color: hsl(0, 0%, 95%);
}
@media (min-width: 768px) {
  .modal__wrapper-button {
    width: 640px;
  }
}
.modal__button {
  width: 280px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .modal__button {
    width: 460px;
  }
}
.modal-error {
  padding: 45px 42px 35px 42px;
}
@media (min-width: 768px) {
  .modal-error {
    width: 400px;
  }
}
.modal-error .modal__button {
  width: 180px;
}
@media (min-width: 768px) {
  .modal-error .modal__button {
    width: 270px;
  }
}
/*# sourceMappingURL=style.css.map */
